<div class="call-to-action">
  <div class="call-to-action__text">
    {{ text }}
  </div>

  <div class="call-to-action__button">
    {% include 'components/button/button.twig' with button %}
  </div>
</div>
